<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<script th:src="@{/js/jquery-3.5.0.js}"></script>
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/estilo.css}">
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/ajax.js}"></script>

	<style>
		.badge {
			font-size: 1em;
		}
	</style>
	<link th:href="@{/css/signin.css}" rel="stylesheet">

</head>

<body>

	<nav th:replace="fragments/navbar"></nav>

	<div id="wrapper" class="text-center">


		<form th:action="@{/tarea/editar}" th:method="POST"  class="form-signin">
			<fieldset>
				<legend>Añadir Tarea</legend>

				<div class="form-group">
					<label for="inputNombre">Nombre de la tarea</label> <input type="email" class="form-control"
						id="inputNombre" aria-describedby="emailHelp" placeholder="Crear test de unidad..">
					<small id="inputNombre" class="form-text text-muted">Se
						claro con el nombre</small>
				</div>

				<div class="form-group">
					<label for="inputPrioridad">Prioridad</label>
					<select class="form-select" id="inputPrioridad">
						<option value="1">Baja</option>
						<option value="2">Media</option>
						<option value="3">Alta</option>
					</select>
				</div>



				<div class="form-group">
					<label for="inputTrabajadores">Empleados</label> <select multiple="" class="form-select"
						id="inputTrabajadores">
						<option value="1">Luis</option>
						<option value="2">Erik</option>
						<option value="3">Sergio</option>
						<option value="4">Alejandro</option>
						<option value="5">Salma</option>
						<option value="6">Jessica</option>
						<option value="7">Moha</option>
						<option value="8">David</option>
						<option value="9">Christohper</option>
					</select>
				</div>
				<br>
				<center> <button class="btn btn-lg btn-primary btn-block" type="submit">Añadir Tarea
					</button> </center>

			</fieldset>
		</form>
	</div>
</body>

</html>